    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        font-family: 'Montserrat', sans-serif;
    }
    
     :root {
        --black: rgb(0, 0, 0);
        --white: rgb(255, 255, 255);
        ;
        --grey: rgb(216, 213, 213);
        --red: rgb(255, 0, 0);
        --blue: rgb(0, 0, 255);
        --box-shadow: -2px -2px 10px rgb(36, 146, 255);
    }
    
    body {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        background-color: var(--black);
        overflow-x: hidden;
        color: var(--white);
        font-family: Arial, Helvetica, sans-serif;
        font-family: 'Montserrat', sans-serif;
    }
    
    header {
        text-align: center;
    }
    
    header img {
        width: 400px;
        height: 200px;
        margin: 100px 0 0 0;
    }
    
    #formSection {
        width: fit-content;
        margin: auto;
    }
    
    form {
        text-align: center;
    }
    /* .labelContainer:nth-child(odd) {
    color: red;
    right: 5px;
} */
    
    form .labelContainer {
        margin: 70px;
        text-align: left;
    }
    
    form label {
        color: var(--blue);
        font-size: 21px;
    }
    
    form input {
        width: 40vw;
        height: 50px;
        border: none;
        background: transparent;
        color: var(--white);
        padding: 10px;
        float: none;
    }
    
    form .inputBorder {
        width: auto;
        background: transparent;
        border: none;
        border-bottom: 1px solid var(--white);
        float: none;
    }
    
    form input:focus {
        outline: none;
        background: transparent;
    }
    
    .push {
        padding: 0 0 0 25px;
        color: var(--red);
    }
    
    button {
        margin: 30px;
        width: 100px;
        height: 50px;
        cursor: pointer;
        font-size: 15px;
        font-weight: 400;
        background: var(--white);
        border: none;
        border-radius: 10px;
        box-shadow: var(--box-shadow);
        color: var(--white);
        background: linear-gradient(var(--red), var(--blue));
    }
    
    button:hover {
        opacity: .7;
        transition: all ease-in 300ms;
    }